@model Companion.Models.Entities.Activity

<div>
    <a asp-action="Start" asp-controller="Business">Создать услугу</a>
</div>
<div>
    <a asp-action="MyActivities" asp-controller="Business">Мои услуги</a>
</div>