@model Companion.Views.Models.Login.PartnerLogin
<div class="text-center">
    <h2>Вход</h2>
</div>
<div class="row">
    <div class="container4">
        <form asp-action="LoginPartner" method="post">
            <div class="form-group">
                <h5><label for="LoginPartner">О компании</label></h5>
                <input asp-for="AboutSelf" class="form-control" />
                <span asp-validation-for="AboutSelf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5><label for="LoginPartner">Смс-код</label></h5>
                56782
            </div>
            <br>
            <br>
            <div class="text-center">
                <button id="set" type="submit" class="btn btn-success btn-lg">Войти</button>
            </div>
        </form>
    </div>
</div>
